<ul class="list-group fa-ul">
      <li class="list-group-item col-xs-10"><i class="fa-li fa fa-calendar fa-lg"></i> <%- currentDay %> </li>
      <li class="list-group-item col-xs-10"><i class="fa-li fa fa-user-circle-o fa-lg"></i>
        <%- user %>
      </li>
      <li class="list-group-item col-xs-10"><i class="fa-li fa fa-bullseye fa-lg"></i>
        <%- sumOfMaxQuestionPoints %>
      </li>
      <li class="list-group-item col-xs-10"><i class="fa-li fa fa-check-square fa-lg"></i>
        <%- points %>
      </li>
      <li class="list-group-item col-xs-10"><i class="fa-li fa fa-percent fa-lg"></i>
        <%- percent %>
      </li>
      <li class="list-group-item col-xs-10 result"><i class="fa-li fa fa-trophy fa-lg"></i>Nicht Bestanden <button type="button" class="btn btn-default btn-sm" id="returnToFirstQuestion">Neuer Versuch</button></li>
    </ul>