<h3>BSI-Quiz Frage <span> <%- data.questions[2].questionId %>  von 30</span></h3>

<div class="row justify-content-md-center">
    <div class="col-md-10" id="question-contend">
        <div class="questionBox" data-id='3'>

            <p id="facts-box">
                " <%- data.questions[2].facts %> "
            </p>

            <button type="button" class="btn btn-sm" id="question-button">Question</button>

            <p id="question">
                <%- data.questions[2].text_question %>
            </p>

        </div>
    </div>
</div>
<div class="row justify-content-sm-center" id="answerArea">
    <div class="col-sm-5 text-centred">
        <div class="answerBox-multiTextLine" data-id="1" style="cursor: pointer;" checked="checked">

            <p id="answer-text-multiLine">
                <%- data.questions[2].text_answer[0].answer_1 %>
            </p>

        </div>
    </div>
    <div class="col-sm-5 text-centred">
        <div class="answerBox-multiTextLine" style="cursor: pointer;" data-id='2'>

            <p id="answer-text-multiLine">
                <%- data.questions[2].text_answer[0].answer_2 %>
            </p>

        </div>
    </div>
</div>
    <div class="col-md-12">
        <div class="nextButton">
            <button class="btn">NEXT QUESTION</button>
        </div>
    </div>